{% extends 'base.html' %}

{% block content %}

<!-- TESTING USER PAGE DO NOT DELETE -->

<img src="{{user.image_url}}">

<h1>{{user.first_name}} {{user.last_name}}</h1>

<form action="/users/{{user.id}}/edit" method="GET">
  <button>Edit</button>
</form>

<form action="/users/{{user.id}}/delete" method="POST">
  <button>Delete</button>
</form>

<h2>Posts</h2>

<ul>
  {% for post in posts %}

  <li>{{post.title}}</li>

  {% endfor %}
</ul>

<form action="/users/{{user.id}}/posts/new" method="GET">
  <button>Add Post</button>
</form>

{% endblock %}